footer{
    padding: 20px;
    color: var(--color-white);
    background-color: var(--color-black);
    
}

address{
    font-style: normal;
}

.footer-right{
    text-align: center;
}

h4{
    margin-bottom: 15px;
}
.footer-socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1em;
    
}

.footer-socials > img{
    margin: 0 5px;
}