header{ 
    height: var(--nav-height);
    background-color: var(--color-orange);
    padding-bottom: 5px;
    box-shadow: 0 5px #8888881e;
    z-index: 200;
}

.header-logo{
    height: var(--nav-height);
}

.header-logo img{
    height: 70%;
}

.header-media{
    display: flex;
    flex-direction: row-reverse;
    
    flex-wrap: wrap;
    width: 200px;
    height: var(--nav-height);
}

.header-media img{
    height: 70%;
    margin: 0 5px;
}